h1 {
  font-size: 80px;
  text-align: center;
}

.aboutus {
  width: 1250px;
  float: left;
}

.image {
  width: 600px;
  float: right;
  padding: 5px;
}

.date {
  width: 230px;
  float: left;
  border: solid #ecadd9;
  padding: 10px;
  background-color: #ffffff;
  color: #a13ea1;
}

body {
  line-height: 24px;
  background-color: #a13ea1;
  color: #ffffff;
}