h1 {
  font-size: 80px;
  text-align: center;
}

.aboutus {
  width: 1250px;
  float: left;
}

.image {
  float: right;
  width: 600px;
}

.date {
  width: 230px;
  float: left;
  background-color: #ffffff;
  color: #800080;
}

body {
  background-color: #a13ea1;
  color: #ffffff;
  line-height: 24px;
}